@model List<PcbErpApi.Models.CURdTableField>
@{
    var modalId = ViewData["DictModalId"] as string ?? "dictModal";
    var tableName = ViewData["DictTableName"] as string ?? "UnknownTable"; // 或是你的TableName
}
<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="dictModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dictModalLabel">欄位說明</h5>
        <button type="button" class="btn btn-success ms-2" onclick="saveAllDictFields('#@modalId .dictTableBody')">全部儲存</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-sm align-middle">
          <thead>
            <tr>
              <th>欄位名稱</th>
              <th>顯示名稱</th>
              <th>型別</th>
              <th>說明</th>
              <th>序號</th>
              <th>可視</th>
            </tr>
          </thead>
            <tbody class="dictTableBody">
              @foreach (var d in Model)
              {
                <tr data-tablename="@tableName" data-fieldname="@d.FieldName">
                  <td>@d.FieldName</td>
                  <td><input data-field="DisplayLabel" value="@d.DisplayLabel" /></td>
                  <td><input data-field="DataType" value="@d.DataType" /></td>
                  <td><input data-field="FieldNote" value="@d.FieldNote" /></td>
                  <td><input data-field="SerialNum" type="number" value="@d.SerialNum" style="width:60px;" /></td>
                  <td><input data-field="Visible" type="checkbox" @(d.Visible == 1 ? "checked" : "") /></td>
                </tr>
              }
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
