@model List<PcbErpApi.Models.CURdTableField>
@{
    var modalId = ViewData["DictModalId"] as string ?? "dictModal";
    var tableName = ViewData["DictTableName"] as string ?? "UnknownTable";
}
<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="dictModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dictModalLabel">欄位說明</h5>
        <button type="button" class="btn btn-success ms-2" onclick="saveAllDictFields('#@modalId .dictTableBody')">全部儲存</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-sm align-middle">
          <thead>
            <tr>
              <th>序號</th>
              <th>欄位名稱</th>
              <th>顯示名稱</th>
              <th>可視</th>
              <th>型別</th>
              <th>說明</th>
              <!-- 下面自動加所有你想顯示的欄位（可照 SQL 結果列出） -->
              <th>欄寬</th>
              <th>標籤高</th>
              <th>標籤Y</th>
              <th>標籤X</th>
              <th>標籤寬</th>
              <th>欄位高</th>
              <th>欄位Y</th>
              <th>欄位X</th>
              <th>欄位寬</th>
              <th>搜尋表格</th>
              <th>搜尋鍵</th>
              <th>搜尋欄位</th>
              <th>備註</th>
              <!-- ...可再加其他必要欄位 -->
            </tr>
          </thead>
          <tbody class="dictTableBody">
            @foreach (var d in Model)
            {
                <tr data-tablename="@tableName" data-fieldname="@d.FieldName">
                  <td><input data-field="SerialNum" type="number" value="@d.SerialNum" style="width:60px;" /></td>
                  <td>@d.FieldName</td>
                  <td><input data-field="DisplayLabel" value="@d.DisplayLabel" /></td>
                  <td><input data-field="Visible" type="checkbox" @(d.Visible == 1 ? "checked" : "") /></td>
                  <td>
                      <input data-field="DataType" value="@d.DataType" readonly style="background:#f2f2f2; color:#8a9399; border:1px solid #dee2e6;" tabindex="-1" />
                  </td>
                  <td><input data-field="FieldNote" value="@d.FieldNote" /></td>
                  <td><input data-field="DisplaySize" value="@d.DisplaySize" style="width:50px;" /></td>
                  <td><input data-field="iLabHeight" value="@d.iLabHeight" style="width:50px;" /></td>
                  <td><input data-field="iLabTop" value="@d.iLabTop" style="width:50px;" /></td>
                  <td><input data-field="iLabLeft" value="@d.iLabLeft" style="width:50px;" /></td>
                  <td><input data-field="iLabWidth" value="@d.iLabWidth" style="width:50px;" /></td>
                  <td><input data-field="iFieldHeight" value="@d.iFieldHeight" style="width:50px;" /></td>
                  <td><input data-field="iFieldTop" value="@d.iFieldTop" style="width:50px;" /></td>
                  <td><input data-field="iFieldLeft" value="@d.iFieldLeft" style="width:50px;" /></td>
                  <td><input data-field="iFieldWidth" value="@d.iFieldWidth" style="width:50px;" /></td>
                  <td><input data-field="LookupTable" value="@d.LookupTable" /></td>
                  <td><input data-field="LookupKeyField" value="@d.LookupKeyField" /></td>
                  <td><input data-field="LookupResultField" value="@d.LookupResultField" /></td>
                  <td><input data-field="IsNotesField" value="@d.IsNotesField" style="width:50px;" /></td>
                  <!-- ...依你的欄位補齊 -->
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
