@model List<QueryFieldViewModel>
    
<form id="searchForm" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">查詢條件</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        @foreach(var field in Model)
        {
            <div class="mb-3">
                <label>@field.ColumnCaption</label>
                @{
                    if (field.ControlType == 2)
                    {
                        var options = ViewData[$"Option_{field.ColumnName}"] as List<SelectListItem> ?? new List<SelectListItem>();
                }
                }
                @if (field.ControlType == 2)
                {
                    var options = ViewData[$"Option_{field.ColumnName}"] as List<SelectListItem> ?? new List<SelectListItem>();
                    <select name="@field.ColumnName" class="form-select">
                        <option value="">--請選擇--</option>
                        @foreach(var opt in options)
                        {
                            if (field.DefaultValue == opt.Value)
                            {
                                <option value="@opt.Value" selected>@opt.Text</option>
                            }
                            else
                            {
                                <option value="@opt.Value">@opt.Text</option>
                            }
                        }
                    </select>
                }
                else if (field.DataType == 1)
                {
                    <div class="d-flex gap-2">
                        <input type="date" name="@field.ColumnName + "Start"" class="form-control" placeholder="起" />
                        <span class="mx-1">~</span>
                        <input type="date" name="@field.ColumnName + "End"" class="form-control" placeholder="迄" />
                    </div>
                }
                else if (field.DataType == 2)
                {
                    <div class="d-flex gap-2">
                        <input type="number" name="@field.ColumnName + "Min"" class="form-control" placeholder="大於等於" />
                        <span class="mx-1">~</span>
                        <input type="number" name="@field.ColumnName + "Max"" class="form-control" placeholder="小於等於" />
                    </div>
                }
                else
                {
                    <input type="text" name="@field.ColumnName" class="form-control" value="@field.DefaultValue" />
                }
            </div>
        }
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">查詢</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
    </div>
</form>
