@page
@model PcbErpApi.Pages.FmedVProcNisToStdModel
@{
    ViewData["Title"] = "製程現帳";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Items?.Any() == true)
{
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>單號</th>
                <th>期望繳庫日</th>
                <th>料號</th>
                <th>版序</th>
                <th>批號</th>
                <th>排版數</th>
                <th>數量</th>
                <th>形狀</th>
                <th>製程</th>
                <th>製程名稱</th>
                <th>後續製程名稱</th>


            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.PaperNum</td>
                <td>@item.ExpStkTime</td>
                <td>@item.PartNum</td>
                <td>@item.Revision</td>
                <td>@item.LotNum</td>
                <td>@item.StrL_LLpiece</td>
                <td>@item.Qnty</td>
                <td>@item.Popname</td>
                <td>@item.ProcCode</td>
                <td>@item.ProcName</td>
                <td>@item.AftProcNameString</td>


            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="text-muted">查無資料。</p>
}
