@page
@model AJNdClassMoneyModel
@{
    ViewData["TableTitle"] = "幣別匯率主檔";
    ViewData["AddApiUrl"] = "/api/AJN/AJNdClassMoney";              // 新增API路徑
    ViewData["DictTableName"] = Model.TableName;               // <== ★★ 這一行 ★★
    ViewData["PaginationVm"] = new PaginationModel {
        PageNumber = Model.PageNumber,
        TotalPages = Model.TotalPages,
        RouteUrl = "/AJN/AJNdClassMoney"
    };
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>幣別</th>
            <th>公司別</th>
            <th>幣別名稱</th>
            <th>英文名稱</th>
            <th>對NT匯率</th>
            <th>對美元匯率</th>
            <th>標準匯率</th>
            <th>原幣小數位數</th>
            <th>科目代號</th>
            <th>子科目代號</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExchangeRates) // 使用AJNdClassMoney模型的屬性
        {
            <tr>
                <td>@item.MoneyCode</td>
                <td>@item.UseId</td>
                <td>@item.MoneyName</td>
                <td>@item.EnglishName</td>
                <td>@(item.RateToNT?.ToString("N3"))</td>
                <td>@(item.RateToUS?.ToString("N3"))</td>
                <td>@(item.RateToStd?.ToString("N3"))</td>
                <td>@item.AmountOgStr</td>
                <td>@item.MoneyAccId</td>
                <td>@item.MoneySubAccId</td>
            </tr>
        }
    </tbody>
</table>
